// Here you can add other styles

.bg-primary {
    background-color: #004186de !important;
}

.update{
    width: 2.6cm;
    color: white;
    background-color: #004186de;
    display: table-row;
    margin-right: 0.3cm;
}
:hover.update{
    background-color: #013063de;
    color: white;
}

.delete{
    width: 2cm;
    color: white;
    background-color: red;
}
:hover.delete{
    background-color: rgb(180, 0, 0);
    color: white;
}

#login{
    background-color: #004186de;
    border-color: #004186de;
    color: white;
}
.px-0{
    color: black !important;
}

#register {
    background-color: white;
    border-color: white;
    color: black;
}

.text-center {
    color: white;
}

