// Here you can add other styles
.bg-primary {
    background-color: #f9b115 !important;
}

#login{
    background-color: #f9b115;
    border-color: #f9b115;
    color: black;
}
.px-0{
    color: black !important;
}

#register {
    background-color: white;
    border-color: white;
    color: black;
}

.text-center {
    color: black;
}

